.banner {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background for banner */
  padding: 20px 0; /* Adjust the top and bottom padding to increase height */
  text-align: left;
  color: #00bceb; /* Gold color for banner text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  margin: 0; /* Add spacing above and below the banner */
}

.banner h1 {
  font-size: 3em; /* Increase font size for the banner title */
  margin: 0 20px 5px 0;
  
  padding: 20px;
}
