/* Base styles for larger screens */
.widget {
  background: rgba(0, 0, 0, 0.7);
  /* width: 40%; */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.2s ease;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.widget:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 188, 235, 0.5);
}

header {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}

.widget h2 {
  font-size: 1.5em;
  color: #00BCEB;
  text-align: left;
  margin-top: 0;
  padding-bottom: 5px;
}

.widget .value {
  font-size: 1.5em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  overflow-wrap: break-word; /* Wrap long words to avoid overflow */
}

.widget .value:hover {
  background: rgba(0, 0, 0, 0.7);
}

.status-symbol {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top:2.5px
}

/* Green status symbol */
.status-symbol-green {
  width: 20px;
  height: 20px;
  background: rgba(0, 255, 0, 0.7);
  animation: glow-green 2s infinite alternate;
}

/* Red status symbol */
.status-symbol-red {
  width: 20px;
  height: 20px;
  background: rgba(255, 0, 0, 0.7);
  animation: glow-red 2s infinite alternate;
}

.status-symbol-off {
  width: 20px;
  height: 20px;
  background: rgba(128, 128, 128, 0.157); /* Gray background for the muted status symbol */
  animation: glow-muted 2s infinite alternate;
}

@keyframes glow-green {
  from {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
  }
  to {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
  }
}

@keyframes glow-red {
  from {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
  to {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  }
}

@keyframes glow-muted {
  from {
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5); /* A lighter gray for the shadow */
  }
  to {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* A slightly darker gray for the shadow */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .widget {
    width: 100%;
    border-radius: 0;
  }
  
  .widget h2 {
    font-size: 1em;
    padding-bottom: 5px;
  }
  
  .widget p {
    font-size: 1em;
    border-radius: 0;
    margin: 5px 0;
  }
  
  .status-symbol {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}
